/**
 * @author Nelson Migliarini
 */
 body {
  width: 33%;
}

button {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0px;
  float: left;
}

.response {
  background-color: lightgray;
  border: solid;
  height: 48px;
  font-size: 20px;
}

.numberButton {
  background-color: lightgreen;
  color: brown;
}

.controlButton {
  background-color: darkgreen;
  color: white;
}

.operationButton {
  background-color: black;
  color: red;
}
